@import url(http://www.netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css);
/* line 22, _variables.scss */
img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*
 * Accessibility
 * --------------------------------------------------
 */
/* line 6, _base.scss */
#skip {
  background-color: #47B5FF;
  color: #fff;
}
/* line 9, _base.scss */
#skip a {
  position: absolute;
  padding: 5px 0 5px 10px;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}
/* line 18, _base.scss */
#skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/*
 * Fonts and Headers
 * --------------------------------------------------
 */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded- opentype"), url("Content/fonts/glyphicons-halflings-regular.woff") format("woff"), url("Content/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("Content/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

/* line 40, _base.scss */
h1 {
  font-size: 1.4em;
  color: #800000;
  font-weight: 300;
}

/* line 46, _base.scss */
h2 {
  font-size: 1.2em;
  color: #C16622;
  font-weight: 600;
}
/* line 50, _base.scss */
h2 .contentalert {
  line-height: 1.3em;
  color: #FF3399;
}

/* line 56, _base.scss */
h3 {
  font-size: 1.1em;
  color: #616530;
  font-weight: 600;
  font-style: italic;
}

/* line 63, _base.scss */
h4 {
  font-weight: 400;
  font-size: 1.1em;
  color: #6d2f6a;
}
/* line 68, _base.scss */
.newsblock h4 {
  margin-bottom: 3px;
  line-height: 1.4em;
}

/* line 74, _base.scss */
h5 {
  font-size: 1em;
  font-weight: 600;
  color: #800000;
}

/* line 80, _base.scss */
h6 {
  font-size: 1em;
  font-weight: 600;
  color: #767676;
  margin: 15px 0 5px 0;
}

/* line 88, _base.scss */
p {
  margin-bottom: 1em;
  line-height: 1.5em;
}
/* line 91, _base.scss */
p small {
  color: #767676;
}

/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *		@include respond-to(medium) { ... }
 *		@include respond-to(large) { ... }
 */
/*
 * Global Elements
 * --------------------------------------------------
 */
/* line 154, _base.scss */
body {
  margin-bottom: 0;
  font-family: 'ProximaNova-Regular', "Arial", sans-serif;
}
/* line 157, _base.scss */
body .font-secondary {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif;
}

/* line 162, _base.scss */
html, body {
  overflow-x: hidden;
  /* Off Canvas: Prevent scroll on narrow devices */
}

/* line 166, _base.scss */
.alert-high {
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  margin-bottom: 0em;
  border: 0;
  color: #a94442;
  background-color: #f2dede;
  border-bottom: 2px solid #a94442;
}
/* line 175, _base.scss */
.alert-high a {
  color: #a94442;
  text-decoration: underline;
}

/* line 181, _base.scss */
.alert-low {
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  margin-bottom: 0em;
  border: 0;
  color: #31708f;
  background-color: #d9edf7;
  border-bottom: 2px solid #31708f;
}
/* line 190, _base.scss */
.alert-low a {
  color: #31708f;
  text-decoration: underline;
}

/* line 196, _base.scss */
.valid {
  color: #089e00;
}

/* line 199, _base.scss */
.error {
  color: red;
}

/* line 202, _base.scss */
.warning {
  color: #fff664;
}

/* line 205, _base.scss */
.information {
  color: #000db5;
}

/* Links */
/* line 209, _base.scss */
a {
  text-decoration: none;
  outline: 0;
}
/* line 212, _base.scss */
a:hover, a:focus {
  color: #5B8FA8;
}
/* line 215, _base.scss */
a.social {
  color: #767676;
}

/* Completely remove from the flow but leave available to screen readers. */
/* line 221, _base.scss */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Alerts
 * --------------------------------------------------
 */
/* line 235, _base.scss */
.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background: #f9f9f9;
}

/* line 243, _base.scss */
.alert-error {
  color: red;
  border-color: red;
  background: #ffbebe;
}

/* line 8, a-search.scss */
.btn-toolbar {
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5em;
}
/* line 12, a-search.scss */
.btn-toolbar .dropdown-menu {
  margin-top: 0;
  background-color: #D2CDCC;
}
/* line 15, a-search.scss */
.btn-toolbar .dropdown-menu a {
  padding: 7px 20px;
}
/* line 19, a-search.scss */
.btn-toolbar .form-control {
  height: 37px;
}

/* line 24, a-search.scss */
.searchbox {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2em 4em!important;
  position: relative;
  background: url(../images/search-test3.jpg) center center no-repeat;
  z-index: 4000;
  margin-bottom: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 65, a-search.scss */
.btn-mainsearch {
  color: #eee;
  background-color: #525252;
  padding: 8px 14px;
  border: none;
  font-size: 15px;
}
/* line 71, a-search.scss */
.btn-mainsearch:active {
  background-color: #D2CDCC;
}
/* line 74, a-search.scss */
.btn-mainsearch p {
  letter-spacing: 1px;
}

/* line 79, a-search.scss */
.open > .dropdown-toggle.btn-mainsearch:focus, .open > .dropdown-toggle.btn-mainsearch:hover {
  background-color: #D2CDCC;
}

/* line 83, a-search.scss */
.btn-searchgo {
  color: #eee;
  background-color: #8F3931;
  border: 1px solid #B1746F;
  padding: 8px 14px;
  margin-left: 15px;
  font-size: 15px;
}

/* line 92, a-search.scss */
.eoptions {
  padding: 10px 0 0 5px;
  font-size: 14px;
  margin-bottom: 0;
}
