/*
 * Colors
 * --------------------------------------------------
 */
/*
 * Elements
 * --------------------------------------------------
 */
/*
 * Mixins
 * --------------------------------------------------
 */
/*------------------------------------------------------------------
[Table of contents]

Accessibility
Fonts and Headers
Media Queries
Global Elements
Alerts

-------------------------------------------------------------------*/
/*
 * Accessibility
 * --------------------------------------------------
 */
/* line 17, _base.scss */
#skip {
  background-color: #47B5FF;
  color: #fff;
}
/* line 20, _base.scss */
#skip a {
  position: absolute;
  padding: 5px 0 5px 10px;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}
/* line 29, _base.scss */
#skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/*
 * Fonts and Headers
 * --------------------------------------------------
 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/static/base/css/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

/* line 51, _base.scss */
.material-icons {
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* line 69, _base.scss */
h1 {
  font-size: 1.4em;
  color: #800000;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #d6d6ce;
  margin: 0 0 0.2em 0;
}

/* line 78, _base.scss */
h2 {
  font-size: 1.2em;
  color: #9A5324;
  font-weight: 600;
  line-height: 1.4em;
}
/* line 83, _base.scss */
h2 .contentalert {
  line-height: 1.3em;
  color: #FF3399;
}
@media (min-width: 48em) {
  /* line 87, _base.scss */
  h2:first-child {
    margin-top: 5px;
  }
}

/* line 94, _base.scss */
h3 {
  font-size: 1.1em;
  color: #616530;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4em;
}

/* line 102, _base.scss */
h4 {
  font-weight: 400;
  font-size: 1.1em;
  color: #6d2f6a;
  line-height: 1.4em;
}
/* line 107, _base.scss */
.newsblock h4 {
  margin-bottom: 3px;
}

/* line 112, _base.scss */
h5 {
  font-size: 1em;
  font-weight: 600;
  color: #800000;
  line-height: 1.4em;
}

/* line 119, _base.scss */
h6 {
  font-size: 1em;
  font-weight: 600;
  color: #767676;
  margin: 15px 0 5px 0;
}

/* line 127, _base.scss */
p {
  margin-bottom: 1em;
  line-height: 1.5em;
}
/* line 130, _base.scss */
p small {
  color: #767676;
}

/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *		@include respond-to(medium) { ... }
 *		@include respond-to(large) { ... }
 */
/*
 * Global Elements
 * --------------------------------------------------
 */
/* line 193, _base.scss */
body {
  margin-bottom: 0;
  font-family: 'ProximaNova-Regular', "Arial", sans-serif;
}
/* line 196, _base.scss */
body .font-secondary {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif;
}

/* line 201, _base.scss */
html, body {
  overflow-x: hidden;
  /* Off Canvas: Prevent scroll on narrow devices */
}

/* line 205, _base.scss */
.valid {
  color: #089e00;
}

/* line 208, _base.scss */
.error {
  color: red;
}

/* line 211, _base.scss */
.warning {
  color: #fff664;
}

/* line 214, _base.scss */
.information {
  color: #000db5;
}

/* Links */
/* line 218, _base.scss */
a {
  text-decoration: none;
  outline: 0;
}
/* line 221, _base.scss */
a:hover, a:focus {
  color: #5B8FA8;
}
/* line 224, _base.scss */
a.social {
  color: #767676;
}

/* Completely remove from the flow but leave available to screen readers. */
/* line 230, _base.scss */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Alerts
 * --------------------------------------------------
 */
/* line 244, _base.scss */
.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background: #f9f9f9;
}
/* line 250, _base.scss */
.alert p {
  margin-bottom: 0;
  display: inline;
}
/* line 254, _base.scss */
.alert.rich-text {
  display: inline;
}

/* line 259, _base.scss */
.alert-error {
  color: red;
  border-color: red;
  background: #ffbebe;
}

/* line 265, _base.scss */
.alert-high {
  text-align: center;
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 0em;
  border-radius: 0;
  color: #fff;
  background-color: #642822;
}
/* line 273, _base.scss */
.alert-high a {
  color: #f9f9f9;
  text-decoration: underline;
}

/* line 279, _base.scss */
.alert-low, .alert-info {
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  margin-bottom: 0em;
  border: 0;
  color: #31708f;
  background-color: #d9edf7;
  border-bottom: 2px solid #31708f;
}
/* line 288, _base.scss */
.alert-low a, .alert-info a {
  color: #31708f;
  text-decoration: underline;
}

/* line 294, _base.scss */
.alert-info {
  font-size: 0.9em;
  padding: 0.5em;
  border-bottom: none;
  border-radius: 0;
}
/* line 300, _base.scss */
.alert-info .close {
  opacity: .4;
}
@media (min-width: 48em) {
  /* line 294, _base.scss */
  .alert-info {
    padding: 0.5em 3em;
  }
}

/* line 16, collex.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 20, collex.scss */
h1, h2 {
  color: #271847;
  font-style: normal;
  font-size: 1.5em;
  font-weight: 400;
}

/* line 27, collex.scss */
h3 {
  color: #3c256d;
  font-style: normal;
  font-size: 1.1em;
  font-weight: 600;
}

/* line 34, collex.scss */
h4 {
  color: #271847;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 600;
}

/* line 42, collex.scss */
.subnav {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 0;
  font-size: 0.9em;
  text-align: right;
}
/* line 49, collex.scss */
.subnav a {
  color: #eee;
  text-decoration: none;
  padding: 0 20px;
}

/* line 56, collex.scss */
.jumbotron.collex-banner {
  max-height: 250px;
  padding-top: 0px;
  margin-bottom: 0;
  background-color: #642822;
  background-image: url("../images/banner.gif");
  background-size: cover;
}
/* line 63, collex.scss */
.jumbotron.collex-banner h2 {
  color: #fff;
}
/* line 66, collex.scss */
.jumbotron.collex-banner .container {
  padding: 0px;
}
@media (min-width: 48em) {
  /* line 56, collex.scss */
  .jumbotron.collex-banner {
    min-height: 200px;
  }
  /* line 71, collex.scss */
  .jumbotron.collex-banner .container {
    position: relative;
    margin: 0px;
  }
}

/* line 78, collex.scss */
.collex-banner .overlaywrap {
  background-color: rgba(39, 24, 71, 0.9);
  left: 0;
  top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.5em 2em;
}
@media (min-width: 48em) {
  /* line 78, collex.scss */
  .collex-banner .overlaywrap {
    padding-right: 6em;
  }
}
/* line 87, collex.scss */
.collex-banner .overlaywrap p {
  padding: 0;
  margin: 0;
}
/* line 90, collex.scss */
.collex-banner .overlaywrap p:last-child {
  padding-bottom: 15px;
}
/* line 94, collex.scss */
.collex-banner .overlaywrap h2.banner-title {
  font-weight: 100;
  font-size: 1.75em;
  margin: 0;
  padding: 0px;
  letter-spacing: 0.03em;
  color: #e9e7ec;
}
@media (min-width: 48em) {
  /* line 94, collex.scss */
  .collex-banner .overlaywrap h2.banner-title {
    font-size: 2.5em;
  }
}
/* line 105, collex.scss */
.collex-banner .overlaywrap .banner-subtitle {
  color: #bfaee3;
  font-size: 1.2em;
  padding-bottom: 5px;
}
@media (min-width: 48em) {
  /* line 105, collex.scss */
  .collex-banner .overlaywrap .banner-subtitle {
    font-size: 1.5em;
  }
}
/* line 113, collex.scss */
.collex-banner .overlaywrap .banner-loc, .collex-banner .overlaywrap .banner-date {
  color: #e0dddb;
  font-style: italic;
  font-size: 0.88em;
}

/* line 120, collex.scss */
.sidebar.collex, .sidebar.collex-solo, .sidebar.collex-verso, .sidebar.collex-duo {
  background-color: #eee;
  padding: 1em 0 0 0;
}
@media (min-width: 48em) {
  /* line 120, collex.scss */
  .sidebar.collex, .sidebar.collex-solo, .sidebar.collex-verso, .sidebar.collex-duo {
    background-color: #fff;
    border-right: 1px dotted #767676;
  }
}
/* line 127, collex.scss */
.sidebar.collex h3, .sidebar.collex-solo h3, .sidebar.collex-verso h3, .sidebar.collex-duo h3 {
  padding-left: 2em;
  font-weight: 600;
}
@media (min-width: 48em) {
  /* line 127, collex.scss */
  .sidebar.collex h3, .sidebar.collex-solo h3, .sidebar.collex-verso h3, .sidebar.collex-duo h3 {
    padding-left: 1em;
  }
}
/* line 133, collex.scss */
.sidebar.collex h3 a, .sidebar.collex-solo h3 a, .sidebar.collex-verso h3 a, .sidebar.collex-duo h3 a {
  color: #513293;
}
/* line 137, collex.scss */
.sidebar.collex a, .sidebar.collex-solo a, .sidebar.collex-verso a, .sidebar.collex-duo a {
  color: #271847;
}
/* line 139, collex.scss */
.sidebar.collex a:hover, .sidebar.collex-solo a:hover, .sidebar.collex-verso a:hover, .sidebar.collex-duo a:hover {
  color: #bfaee3;
  text-decoration: none;
}
/* line 144, collex.scss */
.sidebar.collex ul, .sidebar.collex-solo ul, .sidebar.collex-verso ul, .sidebar.collex-duo ul {
  padding-left: 0;
  text-indent: 0;
}
/* line 148, collex.scss */
.sidebar.collex li, .sidebar.collex-solo li, .sidebar.collex-verso li, .sidebar.collex-duo li {
  padding: 0.6em 1em 0.6em 2em;
}
/* line 151, collex.scss */
.sidebar.collex li.active, .sidebar.collex-solo li.active, .sidebar.collex-verso li.active, .sidebar.collex-duo li.active {
  background-color: #ece7f7;
  font-weight: 600;
}

/* line 158, collex.scss */
.collex-loc {
  background-color: #eee;
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
}
/* line 163, collex.scss */
.collex-loc ~ #push {
  background-color: #eee;
}
/* line 174, collex.scss */
.collex-loc .loc-title {
  margin-bottom: 0.5em;
  color: #271847;
  font-weight: 600;
  font-size: 1em;
}
/* line 179, collex.scss */
.collex-loc .loc-title a {
  font-weight: 400;
  color: #462b80;
}
/* line 184, collex.scss */
.collex-loc p, .collex-loc ul {
  font-size: 0.95em;
}
/* line 187, collex.scss */
.collex-loc ul {
  list-style: none;
  padding-left: 0;
}
/* line 190, collex.scss */
.collex-loc ul li {
  margin-bottom: 10px;
}
/* line 192, collex.scss */
.collex-loc ul li .viewall {
  margin-top: 15px;
}

/* line 200, collex.scss */
.loc-child + .loc-child {
  padding-top: 10px;
  border-top: 1px dotted #767676;
}
@media (min-width: 62em) {
  /* line 200, collex.scss */
  .loc-child + .loc-child {
    padding-top: initial;
    border-top: none;
  }
}
/* line 208, collex.scss */
.loc-child .loc-title ~ .loc-title {
  margin-top: 1.2em;
}

/* line 213, collex.scss */
.collex-gallery {
  border-top: 1px dotted #767676;
}

/* line 217, collex.scss */
.collex, .collex-solo, .collex-verso, .collex-duo {
  padding: 2em 1em;
}
@media (min-width: 62em) {
  /* line 219, collex.scss */
  .collex figure, .collex-solo figure, .collex-verso figure, .collex-duo figure {
    display: flex;
  }
}

/* line 226, collex.scss */
.collex-solo, .collex-verso {
  border-bottom: 1px dotted #767676;
}
/* line 229, collex.scss */
.collex-solo img, .collex-verso img {
  padding-bottom: 1em;
  max-height: 50em;
  width: auto;
}
@media (min-width: 62em) {
  /* line 229, collex.scss */
  .collex-solo img, .collex-verso img {
    float: right;
    padding-bottom: 0;
  }
}

/* line 242, collex.scss */
.collex-solo .img-title, .collex-verso .img-title, .collex-duo .img-title, .collex-trio .img-title, .collex-verso .img-title {
  color: #271847;
  font-size: 1.1em;
  font-weight: 600;
}
/* line 247, collex.scss */
.collex-solo .img-citation, .collex-verso .img-citation, .collex-duo .img-citation, .collex-trio .img-citation, .collex-verso .img-citation {
  color: #5b38a6;
  font-size: 0.95em;
}
/* line 251, collex.scss */
.collex-solo .img-caption, .collex-verso .img-caption, .collex-duo .img-caption, .collex-trio .img-caption, .collex-verso .img-caption {
  color: #000;
  font-size: 1em;
}

/* line 259, collex.scss */
.collex-verso .modal.and.carousel {
  position: absolute;
}

/* line 264, collex.scss */
.duo-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
}
@media (min-width: 48em) {
  /* line 264, collex.scss */
  .duo-wrapper {
    border-bottom: 1px dotted #767676;
  }
}

/* line 273, collex.scss */
.collex-duo {
  padding: 0;
}
@media (min-width: 62em) {
  /* line 277, collex.scss */
  .collex-duo:not(.collex-solo):nth-of-type(odd) {
    border-right: 1px dotted #767676;
  }
}
/* line 281, collex.scss */
.collex-duo + .collex-duo img {
  padding-left: 1em;
}
/* line 284, collex.scss */
.collex-duo img {
  padding: 0 1em 1em 0;
}
@media (min-width: 62em) {
  /* line 284, collex.scss */
  .collex-duo img {
    max-height: 20em;
    width: auto;
    padding-bottom: 0;
    padding-right: 0.75em;
  }
}
@media (min-width: 62em) {
  /* line 295, collex.scss */
  .collex-duo figcaption:nth-of-type(odd) {
    padding-right: 0.5em;
  }
}

/* line 302, collex.scss */
.collex-trio {
  padding: 1em 0 2em 0;
  border-bottom: 1px dotted #767676;
}
/* line 305, collex.scss */
.collex-trio img {
  float: left;
  max-width: 33%;
  padding: 1em;
}
/* line 310, collex.scss */
.collex-trio figcaption {
  clear: both;
  text-align: center;
}

/* line 316, collex.scss */
#page-turn {
  position: absolute;
  width: 0;
  height: 0;
  right: 15px;
  border-top: 30px solid #fff;
  border-left: 30px solid #c0c0c0;
}
