/*
 * Style Notes
 * --------------------------------------------------
 *
 * Styles split into two files: collex.sccs and collex-base.scss
 * This file contains user-based variables that are placed in the head of individual web exhibits
 *
 */
/*
 * Colors
 * --------------------------------------------------
 */
/*
 * Elements
 * --------------------------------------------------
 */
/*
 * Mixins
 * --------------------------------------------------
 */
/*------------------------------------------------------------------
[Table of contents]

Accessibility
Fonts and Headers
Media Queries
Global Elements
Alerts

-------------------------------------------------------------------*/
/*
 * Accessibility
 * --------------------------------------------------
 */
#skip {
  background: #f5f5f5;
  color: #222; }
  #skip a {
    position: absolute;
    padding: 1em 0 1em 3em;
    line-height: 2em;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #222; }
    #skip a:focus {
      position: static;
      width: auto;
      height: auto; }

/*
 * Fonts and Headers
 * --------------------------------------------------
 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/static/base/css/iconfont/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }

h1 {
  font-size: 1.4em;
  color: #800000;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #D6D6CE;
  margin: 0 0 0.2em 0; }

h2 {
  font-size: 1.2em;
  color: #800000;
  font-weight: 600;
  line-height: 1.4em; }
  h2 .contentalert {
    line-height: 1.3em;
    color: #FF3399; }
  h2 + h3 {
    margin-top: 0; }

h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25em;
  color: #525252;
  font-weight: 600;
  line-height: 1.4em; }
  h3 + h4 {
    margin-top: 0; }

h4 {
  font-weight: 600;
  font-size: 1.1em;
  color: #6d2f6a;
  font-style: italic;
  line-height: 1.4em; }
  .newsblock h4 {
    margin-bottom: 3px; }
  h4 + h5 {
    margin-top: 0; }

h5 {
  font-size: 1em;
  font-weight: 600;
  color: #800000;
  font-style: italic;
  line-height: 1.4em; }
  h5 + h6 {
    margin-top: 0; }

h6 {
  font-size: 1em;
  font-weight: 600;
  color: #525252;
  margin: 15px 0 5px 0; }

p {
  margin-bottom: 1em;
  line-height: 1.5em; }
  p small {
    color: #767676; }

/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *		@include respond-to(medium) { ... }
 *		@include respond-to(large) { ... }
 */
@media print {
  @page {
    size: 330mm 427mm;
    margin: 1cm; }
  a[href]:after {
    content: none !important; }
  .container {
    width: 1170px; }
  .navbar, #footer {
    display: none; }
  div.breadcrumbs, div#sidebar, div.jumbotron {
    display: none; }
  body {
    overflow: visible !important; }
  div.container, div.container-fluid {
    margin: none;
    padding: none; }
  div.row, div.row-fluid {
    margin: none;
    padding: none; }
  h2, h3, h4, h5, h6 {
    page-break-after: avoid; }
  /*img {
       max-width: 100% !important;
    }*/
  ul, img {
    page-break-inside: avoid; } }

/*
 * Global Elements
 * --------------------------------------------------
 */
body {
  margin-bottom: 0;
  font-family: 'ProximaNova-Regular', "Arial", sans-serif; }
  body .font-secondary {
    font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif; }

html, body {
  overflow-x: hidden;
  /* Off Canvas: Prevent scroll on narrow devices */ }

.valid {
  color: #089e00; }

.error {
  color: red; }

.warning {
  color: #fff664; }

.information {
  color: #000db5; }

/* Links */
a {
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #5B8FA8; }
  a.social {
    color: #767676; }

.is-vishidden, .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

/*
 * Alerts
 * --------------------------------------------------
 */
.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background: #f9f9f9; }
  .alert p {
    margin-bottom: 0;
    display: inline; }
  .alert .rich-text {
    display: inline; }

.alert-error {
  color: red;
  border-color: red;
  background: #ffbebe; }

.alert-high {
  text-align: center;
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 0em;
  border-radius: 0;
  color: #fff;
  background-color: #642822; }
  .alert-high a {
    color: #f9f9f9;
    text-decoration: underline; }

.alert-low, .alert-info {
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  margin-bottom: 0em;
  border: 0;
  color: #31708f;
  background-color: #d9edf7;
  border-bottom: 2px solid #31708f; }
  .alert-low a, .alert-info a {
    color: #31708f;
    text-decoration: underline; }

.alert-info {
  font-size: 0.9em;
  padding: 0.5em;
  border-bottom: none;
  border-radius: 0; }
  .alert-info .close {
    opacity: .4; }
  @media (min-width: 48em) {
    .alert-info {
      padding: 0.5em 3em; } }

/*
 * Stable Variables
 * --------------------------------------------------
 *
 */
/*
 * User Defined Variables
 * --------------------------------------------------
 *
 */
/*
 * Exhibit Customizations
 * --------------------------------------------------
 *
 */
.exhibitpage h1, .exhibitpage h2, .exhibitchildpage h1, .exhibitchildpage h2 {
  color: #271847;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 1.5em;
  font-weight: 400; }

.exhibitpage h3, .exhibitchildpage h3 {
  color: #3c256d;
  font-style: normal;
  font-size: 1.1em;
  font-weight: 600; }

.exhibitpage h4, .exhibitchildpage h4 {
  color: #271847;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 600; }

.exhibitpage .jumbotron, .exhibitchildpage .jumbotron {
  min-height: 250px;
  overflow: hidden;
  padding-top: 0px;
  margin-bottom: 0;
  background-color: #663fb9;
  background-image: url("../images/banner.gif");
  background-size: cover; }
  .exhibitpage .jumbotron h2, .exhibitchildpage .jumbotron h2 {
    color: #fff; }
  .exhibitpage .jumbotron .container, .exhibitchildpage .jumbotron .container {
    padding: 0px;
    margin: 0px;
    position: relative;
    width: 100%; }
  .exhibitpage .jumbotron .img-wrapper, .exhibitchildpage .jumbotron .img-wrapper {
    display: none; }
    @media (min-width: 48em) {
      .exhibitpage .jumbotron .img-wrapper, .exhibitchildpage .jumbotron .img-wrapper {
        display: block;
        width: 250px;
        overflow: hidden; } }
    @media (min-width: 62em) {
      .exhibitpage .jumbotron .img-wrapper, .exhibitchildpage .jumbotron .img-wrapper {
        width: 250px;
        overflow: hidden; } }
    .exhibitpage .jumbotron .img-wrapper img, .exhibitchildpage .jumbotron .img-wrapper img {
      width: 200px;
      height: auto; }
      @media (min-width: 62em) {
        .exhibitpage .jumbotron .img-wrapper img, .exhibitchildpage .jumbotron .img-wrapper img {
          width: 250px; } }
    @media (min-width: 48em) {
      .exhibitpage .jumbotron .img-wrapper + .overlaywrap, .exhibitchildpage .jumbotron .img-wrapper + .overlaywrap {
        left: 200px; } }
    @media (min-width: 62em) {
      .exhibitpage .jumbotron .img-wrapper + .overlaywrap, .exhibitchildpage .jumbotron .img-wrapper + .overlaywrap {
        left: 250px; } }

.exhibitpage .jumbotron .overlaywrap, .exhibitchildpage .jumbotron .overlaywrap {
  background-color: rgba(39, 24, 71, 0.9);
  left: 0;
  top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.5em 2em; }
  @media (min-width: 48em) {
    .exhibitpage .jumbotron .overlaywrap, .exhibitchildpage .jumbotron .overlaywrap {
      padding-right: 6em; } }
  .exhibitpage .jumbotron .overlaywrap p, .exhibitchildpage .jumbotron .overlaywrap p {
    padding: 0;
    margin: 0; }
    .exhibitpage .jumbotron .overlaywrap p:last-child, .exhibitchildpage .jumbotron .overlaywrap p:last-child {
      padding-bottom: 15px; }
  .exhibitpage .jumbotron .overlaywrap h2, .exhibitchildpage .jumbotron .overlaywrap h2 {
    font-weight: 100;
    font-size: 1.75em;
    margin: 0;
    padding: 0px;
    letter-spacing: 0.03em;
    color: contrast-color(#271847, shade(#271847, 5%), tint(#271847, 90%), 80%); }
    @media (min-width: 48em) {
      .exhibitpage .jumbotron .overlaywrap h2, .exhibitchildpage .jumbotron .overlaywrap h2 {
        font-size: 2.5em; } }
  .exhibitpage .jumbotron .overlaywrap .banner-subtitle, .exhibitchildpage .jumbotron .overlaywrap .banner-subtitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #bfaee3;
    font-size: 1.2em;
    padding-bottom: 5px; }
    @media (min-width: 48em) {
      .exhibitpage .jumbotron .overlaywrap .banner-subtitle, .exhibitchildpage .jumbotron .overlaywrap .banner-subtitle {
        font-size: 1.5em; } }
  .exhibitpage .jumbotron .overlaywrap .banner-loc, .exhibitpage .jumbotron .overlaywrap .banner-loc a, .exhibitpage .jumbotron .overlaywrap .banner-date, .exhibitchildpage .jumbotron .overlaywrap .banner-loc, .exhibitchildpage .jumbotron .overlaywrap .banner-loc a, .exhibitchildpage .jumbotron .overlaywrap .banner-date {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e0dddb;
    font-style: italic;
    font-size: 0.88em; }

.exhibitpage .btn.webex-next, .exhibitchildpage .btn.webex-next {
  margin-top: 2em;
  background: transparent;
  border-color: #271847;
  float: right; }
  a .exhibitpage .btn.webex-next, a .exhibitchildpage .btn.webex-next {
    color: #271847; }

.exhibitpage .sidebar, .exhibitchildpage .sidebar {
  background-color: #fff;
  border-right: 1px solid #ddd; }
  @media (min-width: 48em) {
    .exhibitpage .sidebar, .exhibitchildpage .sidebar {
      background-color: #fff;
      border-right: 1px dotted #767676; } }
  .exhibitpage .sidebar h3 a, .exhibitchildpage .sidebar h3 a {
    color: #513293; }
  .exhibitpage .sidebar > ul > li a, .exhibitchildpage .sidebar > ul > li a {
    font-weight: 200;
    color: #271847; }
    .exhibitpage .sidebar > ul > li a:hover, .exhibitchildpage .sidebar > ul > li a:hover {
      color: #5b38a6;
      text-decoration: none; }
  .exhibitpage .sidebar > ul > li.active, .exhibitchildpage .sidebar > ul > li.active {
    background-color: #ece7f7;
    margin-left: -2em;
    margin-right: -1em;
    padding: 0.5em 0.5em 0.5em 2em; }
    .exhibitpage .sidebar > ul > li.active > a, .exhibitchildpage .sidebar > ul > li.active > a {
      font-weight: 600; }
  .exhibitpage .sidebar > ul > li > ul, .exhibitchildpage .sidebar > ul > li > ul {
    padding-left: 1.5em;
    border-left: 3px solid #ece7f7; }
    .exhibitpage .sidebar > ul > li > ul li a, .exhibitchildpage .sidebar > ul > li > ul li a {
      font-style: italic;
      color: #3c256d; }

.exhibitpage .coll-rightside, .exhibitchildpage .coll-rightside {
  background-color: #ece7f7; }
  .exhibitpage .coll-rightside h3, .exhibitpage .coll-rightside h3 a, .exhibitchildpage .coll-rightside h3, .exhibitchildpage .coll-rightside h3 a {
    color: #3c256d;
    border-bottom-color: #3c256d; }

.collex-loc {
  background-color: #eee;
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap; }
  .collex-loc ~ #push {
    background-color: #eee; }
  .collex-loc .loc-title {
    margin-bottom: 0.5em;
    color: #271847;
    font-weight: 600;
    font-size: 1em; }
    .collex-loc .loc-title a {
      font-weight: 400;
      color: #462b80; }
  .collex-loc p, .collex-loc ul {
    font-size: 0.95em; }
  .collex-loc ul {
    list-style: none;
    padding-left: 0; }
    .collex-loc ul li {
      margin-bottom: 10px; }
      .collex-loc ul li .viewall {
        margin-top: 15px; }

.collex-solo img, .collex-duo img, .collex-trio img, .collex-verso img {
  border: 3px solid #c8c8c8; }

.collex-solo .img-title, .collex-duo .img-title, .collex-trio .img-title, .collex-verso .img-title {
  color: #271847;
  font-size: 1.1em;
  font-weight: 600; }

.collex-solo .img-citation, .collex-duo .img-citation, .collex-trio .img-citation, .collex-verso .img-citation {
  color: #3c256d;
  font-size: 0.95em; }

.collex-solo .img-caption, .collex-duo .img-caption, .collex-trio .img-caption, .collex-verso .img-caption {
  color: #000;
  font-size: 1em; }

/*
 * Digital / iiif Exhibits
 * --------------------------------------------------
 *
 */
.search-results {
  border-bottom: 1px solid #f0eeef;
  padding-bottom: 1em; }
  .search-results h2 {
    margin: 0; }

.row.collections.search {
  margin-top: -5px;
  background: rgba(238, 239, 229, 0.5);
  background: -moz-linear-gradient(top, rgba(238, 239, 229, 0.7) 20%, rgba(246, 247, 242, 0.6) 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(238, 239, 229, 0.7) 20%, rgba(246, 247, 242, 0.6) 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(238, 239, 229, 0.7) 20%, rgba(246, 247, 242, 0.6) 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(238,239,229, 0.5)', endColorstr='rgba(246,247,242, 0.5)',GradientType=0 );
  /* IE6-9 */
  border-top: 2px solid #D2CDCC;
  width: 95%;
  padding: 1.5em 1em 1.5em 0.15em; }
  .rightside-mod .row.collections.search {
    background: transparent;
    border-top: none; }
  .row.collections.search .searchbox {
    width: auto; }
  .row.collections.search input {
    background-color: #fff;
    margin-left: -15px;
    border: 1px solid #ccc; }
    .rightside-mod .row.collections.search input {
      margin-left: 0; }
  .row.collections.search .browse {
    padding-top: 1em; }
    .rightside-mod .row.collections.search .browse .headline, .rightside-mod .row.collections.search .browse .badge {
      display: block;
      text-align: left; }
    .row.collections.search .browse .badge {
      color: #525252;
      background-color: transparent;
      font-size: inherit; }
      .row.collections.search .browse .badge:first-of-type {
        margin-left: 1.5em; }
        .rightside-mod .row.collections.search .browse .badge:first-of-type {
          margin-left: 0; }
      .row.collections.search .browse .badge:hover, .row.collections.search .browse .badge:focus {
        color: #8A9045;
        text-decoration: underline; }

/*
 * Thumbnail Grid
 * --------------------------------------------------
 */
section.thumbnails figure {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 1.5em; }
  section.thumbnails figure + figure {
    margin-top: 1em;
    border-top: 1px solid #f0eeef; }
  section.thumbnails figure h3 {
    margin-top: 0.75em; }
  section.thumbnails figure img {
    height: 200px;
    width: 100%;
    padding-top: 1.5em;
    object-fit: contain;
    object-position: 50% 0; }
  section.thumbnails figure figcaption {
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: left;
    line-height: 1.25em; }

/*# sourceMappingURL=collex.css.map */
