/*------------------------------------------------------------------
[Table of contents]

Accessibility {Global Classes}
Fonts
Colors
Elements
Mixins

-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *		@include respond-to(medium) { ... }
 *		@include respond-to(large) { ... }
 */
/*
 * Accessibility {Global Classes}
 * --------------------------------------------------
 */
.is-vishidden, .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

/*
 * Fonts
 * --------------------------------------------------
 */
/*
 * Colors
 * --------------------------------------------------
 */
/*
 * Elements
 * --------------------------------------------------
 */
.nopadding {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0; }

.btn-morelink {
  font-size: 0.9em;
  color: #0F425C;
  background: #f0eeef;
  border: 1px solid #D6D6CE;
  border-radius: 0;
  padding: 6px 12px;
  margin-bottom: 10px; }
  .btn-morelink:after {
    content: "\0020\f101";
    font-family: FontAwesome; }
  .btn-morelink:hover {
    background: #d8b9b7;
    color: #800000; }

.distinct-rightside {
  background-color: #f6f7f2;
  margin: 10px 0;
  padding: 15px 20px; }
  .distinct-rightside ul {
    list-style-type: none;
    margin-bottom: 10px; }
  .distinct-rightside li {
    color: #6d2f6a; }
  .distinct-rightside a {
    color: #6d2f6a; }
  .distinct-rightside h2 {
    color: #616530;
    margin: 5px 0 10px 0;
    font-size: 1.05em;
    padding-bottom: 5px;
    border-bottom: 1px solid #a0a282; }
  @media (min-width: 62em) {
    .distinct-rightside {
      border-top: 0;
      margin: 0;
      max-width: 350px; } }
  @media (min-width: 75em) {
    .distinct-rightside {
      max-width: 30em; } }

.menu-marker {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: #642822 transparent transparent;
  border-style: solid;
  border-width: 11px;
  left: 50%;
  transform: translateX(-50%);
  top: 100%; }

/*
 * Mixins
 * --------------------------------------------------
 */
body.lib-news {
  /*
 * Navigation & Sidebar
 * --------------------------------------------------
 */
  /*
 * Featured Story
 * --------------------------------------------------
 */
  /*
 * News Thumbnails
 * --------------------------------------------------
 */
  /*
 * New Story Page
 * --------------------------------------------------
 */
  /*
 * Social Media and Subjects Strip
 * --------------------------------------------------
 */
  /*
 * Related Stories
 * --------------------------------------------------
 */
  /*
 * Footer
 * --------------------------------------------------
 */
  /*
 * FOR MOCKS ONLY
 * --------------------------------------------------
 */ }
  body.lib-news #content {
    max-width: 2000px; }
  body.lib-news .body-container {
    padding-top: 0; }
  body.lib-news .centermain {
    max-width: none; }
  body.lib-news .navbar-news {
    background: #fff;
    padding: 1.75em;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
    border-radius: 0; }
    body.lib-news .navbar-news a {
      color: #800000; }
    body.lib-news .navbar-news li a {
      text-transform: uppercase; }
    body.lib-news .navbar-news li > ul li a {
      text-transform: none;
      margin-bottom: 0.75em; }
    @media (min-width: 48em) {
      body.lib-news .navbar-news {
        padding: 0 5em 0 2em; } }
    @media (min-width: 118em) {
      body.lib-news .navbar-news {
        padding-right: 20em; } }
  body.lib-news .btn-sidebar {
    background: #ddd;
    color: #767676;
    position: absolute;
    left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0;
    margin-top: 0;
    z-index: 1000;
    background-color: rgba(210, 205, 204, 0.9);
    box-shadow: 0px 2px 7px #767676; }
  body.lib-news .coll-rightside {
    background: #fff;
    box-shadow: -2px 2px 5px rgba(67, 67, 67, 0.5); }
    body.lib-news .coll-rightside h3 {
      color: #767676;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 0.95em;
      margin-top: 1rem;
      text-transform: uppercase;
      border-bottom: none; }
    body.lib-news .coll-rightside img {
      max-width: 100%;
      margin-bottom: 0.75em; }
    body.lib-news .coll-rightside a {
      color: #800000; }
    body.lib-news .coll-rightside .event-date {
      color: #642822; }
    body.lib-news .coll-rightside .rightside-mod {
      padding-bottom: 1.5rem; }
  body.lib-news section.featured-news {
    padding-bottom: 2em;
    margin: 0 auto 30px;
    border-bottom: 1px solid #D6D6CE; }
    body.lib-news section.featured-news article {
      display: grid;
      grid-template-areas: "image" "title"; }
      @media (min-width: 48em) {
        body.lib-news section.featured-news article {
          grid-template-columns: 1fr 2fr;
          grid-gap: 30px;
          grid-template-rows: auto;
          grid-template-areas: "title image";
          padding-left: 1.5em; } }
      body.lib-news section.featured-news article .img-object {
        grid-area: image;
        width: 100%;
        height: 100%; }
        body.lib-news section.featured-news article .img-object img {
          height: auto;
          max-width: 100%;
          object-fit: contain;
          margin-right: auto;
          margin-left: auto;
          grid-column: span 1; }
          @media (min-width: 48em) {
            body.lib-news section.featured-news article .img-object img {
              width: 100%;
              height: 100%;
              object-fit: cover; } }
      body.lib-news section.featured-news article .title-object {
        grid-area: title; }
        body.lib-news section.featured-news article .title-object h2 {
          color: #525252;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 2.6em;
          font-weight: 200;
          margin-top: 0; }
          @media (min-width: 48em) {
            body.lib-news section.featured-news article .title-object h2 {
              margin-bottom: 1em; } }
        body.lib-news section.featured-news article .title-object p {
          color: #767676;
          font-size: 1.2em; }
        body.lib-news section.featured-news article .title-object a.read-more {
          color: #800000;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 2em; }
  body.lib-news section.news-stories {
    display: grid;
    grid-gap: 30px;
    margin: 0 auto 30px; }
    @media (min-width: 48em) {
      body.lib-news section.news-stories {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 1.5em; } }
    @media (min-width: 48em) {
      body.lib-news section.news-stories article.featured {
        grid-column: span 3; } }
    body.lib-news section.news-stories h2 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #525252;
      font-size: 1.4em;
      font-weight: 400;
      line-height: 1.6em;
      margin: 0.5em 0 5px 0; }
  body.lib-news article .img-object {
    align-self: start; }
    body.lib-news article .img-object img {
      height: auto;
      max-width: 100%;
      object-fit: contain;
      align-self: end;
      object-position: 50% 20%;
      margin-right: auto;
      margin-left: auto;
      grid-column: span 1;
      object-fit: cover;
      height: 200px;
      width: 100%; }
  body.lib-news section.story-page {
    margin: 30px auto; }
    @media (min-width: 62em) {
      body.lib-news section.story-page {
        margin: 0 auto 30px; } }
    body.lib-news section.story-page h1, body.lib-news section.story-page h2, body.lib-news section.story-page h3, body.lib-news section.story-page h4, body.lib-news section.story-page h5, body.lib-news section.story-page h6 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    body.lib-news section.story-page h1 {
      color: #525252;
      font-size: 2.8rem;
      line-height: 1.3em;
      font-weight: 200;
      margin-top: 0;
      border-bottom: none; }
      @media (min-width: 48em) {
        body.lib-news section.story-page h1 {
          margin-bottom: 0.5rem; } }
      @media (min-width: 62em) {
        body.lib-news section.story-page h1 {
          font-size: 3.4rem; } }
    body.lib-news section.story-page .news-byline {
      font-size: 1.1rem;
      font-style: italic;
      margin-bottom: 2rem;
      display: block; }
    body.lib-news section.story-page h2 {
      font-size: 2.4rem;
      font-weight: 200; }
    body.lib-news section.story-page p {
      font-size: 1.2em; }
    @media (max-width: 34em) {
      body.lib-news section.story-page figure.imgcaption.pull-right, body.lib-news section.story-page figure.imgcaption.pull-left {
        margin: 10px; } }
    body.lib-news section.story-page figure.imgcaption img {
      width: 100%; }
      @media (min-width: 48em) {
        body.lib-news section.story-page figure.imgcaption img {
          max-width: 400px; } }
    body.lib-news section.story-page .collex-solo, body.lib-news section.story-page .collex-duo {
      background: #eee;
      border-bottom: none;
      margin-bottom: 1em;
      border-radius: 15px; }
    @media (min-width: 48em) {
      body.lib-news section.story-page .agenda {
        padding-right: 2rem; } }
    body.lib-news section.story-page .media-use {
      margin-top: 2em; }
  body.lib-news section.social-share {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #D6D6CE; }
    body.lib-news section.social-share .badge {
      background-color: #eee;
      color: #767676; }
      body.lib-news section.social-share .badge:hover {
        background-color: #17a2b8;
        color: #eee; }
  body.lib-news .share-buttons {
    padding-top: 2em; }
    body.lib-news .share-buttons .share-title {
      font-weight: 600; }
  body.lib-news .btn-floating {
    background: #767676;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer; }
    body.lib-news .btn-floating:hover {
      -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    body.lib-news .btn-floating i {
      font-size: 1.625rem;
      line-height: 35px;
      display: inline-block;
      width: inherit;
      text-align: center;
      color: #fff; }
  body.lib-news section.related-stories {
    display: grid;
    grid-gap: 30px;
    margin: 0 auto 30px; }
    @media (min-width: 48em) {
      body.lib-news section.related-stories {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 1.5em; } }
    @media (min-width: 48em) {
      body.lib-news section.related-stories article.featured {
        grid-column: span 3; } }
    body.lib-news section.related-stories .img-object {
      margin-bottom: 1em; }
    body.lib-news section.related-stories h2 {
      grid-column: span 3;
      margin: 0; }
    body.lib-news section.related-stories a {
      font-size: 1.3em;
      font-weight: 200;
      color: #767676; }
  body.lib-news .load-footer {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  body.lib-news button.btn-info {
    background: #800000;
    grid-column: span 3;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
    border: none; }
  body.lib-news .news-category {
    color: #fff;
    display: block;
    padding: 0.5em 1em; }
    body.lib-news .news-category.exhibits {
      background: #25190f; }
    body.lib-news .news-category.spaces {
      background: #656d33; }
    body.lib-news .news-category.people {
      background: #995324; }
    body.lib-news .news-category.research {
      background: #15435f; }
    body.lib-news .news-category.resources {
      background: #464833; }
    body.lib-news .news-category.teaching {
      background: #155f83; }
    body.lib-news .news-category.events {
      background: #725663; }
    body.lib-news .news-category.hours-access {
      background: maroon; }
    body.lib-news .news-category.spotlight {
      background: #c68220; }
    body.lib-news .news-category.from-the-director {
      background: #8f3931; }

/*# sourceMappingURL=lib-news.css.map */
