/*------------------------------------------------------------------
[Table of contents]

Top Right Navbar (time/account/ask)
Main Navbar
Navigation Drop Downs
Fancy Splash Image (Jumbotron)
Off Canvas (Sidebar Mobile Toggle)
Left Sidebar
Footer
-------------------------------------------------------------------*/
/*
 * Colors
 * --------------------------------------------------
 */
/*
 * Elements
 * --------------------------------------------------
 */
/*
 * Mixins
 * --------------------------------------------------
 */
/*------------------------------------------------------------------
[Table of contents]

Accessibility
Fonts and Headers
Media Queries
Global Elements
Alerts

-------------------------------------------------------------------*/
/*
 * Accessibility
 * --------------------------------------------------
 */
/* line 17, _base.scss */
#skip {
  background-color: #47B5FF;
  color: #fff;
}
/* line 20, _base.scss */
#skip a {
  position: absolute;
  padding: 5px 0 5px 10px;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}
/* line 29, _base.scss */
#skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/*
 * Fonts and Headers
 * --------------------------------------------------
 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/static/base/css/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

/* line 51, _base.scss */
.material-icons {
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* line 69, _base.scss */
h1 {
  font-size: 1.4em;
  color: #800000;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #d6d6ce;
  margin: 0 0 0.2em 0;
}

/* line 78, _base.scss */
h2 {
  font-size: 1.2em;
  color: #9A5324;
  font-weight: 600;
  line-height: 1.4em;
}
/* line 83, _base.scss */
h2 .contentalert {
  line-height: 1.3em;
  color: #FF3399;
}
@media (min-width: 48em) {
  /* line 87, _base.scss */
  h2:first-child {
    margin-top: 5px;
  }
}

/* line 94, _base.scss */
h3 {
  font-size: 1.1em;
  color: #616530;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4em;
}

/* line 102, _base.scss */
h4 {
  font-weight: 400;
  font-size: 1.1em;
  color: #6d2f6a;
  line-height: 1.4em;
}
/* line 107, _base.scss */
.newsblock h4 {
  margin-bottom: 3px;
}

/* line 112, _base.scss */
h5 {
  font-size: 1em;
  font-weight: 600;
  color: #800000;
  line-height: 1.4em;
}

/* line 119, _base.scss */
h6 {
  font-size: 1em;
  font-weight: 600;
  color: #767676;
  margin: 15px 0 5px 0;
}

/* line 127, _base.scss */
p {
  margin-bottom: 1em;
  line-height: 1.5em;
}
/* line 130, _base.scss */
p small {
  color: #767676;
}

/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *		@include respond-to(medium) { ... }
 *		@include respond-to(large) { ... }
 */
/*
 * Global Elements
 * --------------------------------------------------
 */
/* line 193, _base.scss */
body {
  margin-bottom: 0;
  font-family: 'ProximaNova-Regular', "Arial", sans-serif;
}
/* line 196, _base.scss */
body .font-secondary {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif;
}

/* line 201, _base.scss */
html, body {
  overflow-x: hidden;
  /* Off Canvas: Prevent scroll on narrow devices */
}

/* line 205, _base.scss */
.valid {
  color: #089e00;
}

/* line 208, _base.scss */
.error {
  color: red;
}

/* line 211, _base.scss */
.warning {
  color: #fff664;
}

/* line 214, _base.scss */
.information {
  color: #000db5;
}

/* Links */
/* line 218, _base.scss */
a {
  text-decoration: none;
  outline: 0;
}
/* line 221, _base.scss */
a:hover, a:focus {
  color: #5B8FA8;
}
/* line 224, _base.scss */
a.social {
  color: #767676;
}

/* Completely remove from the flow but leave available to screen readers. */
/* line 230, _base.scss */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Alerts
 * --------------------------------------------------
 */
/* line 244, _base.scss */
.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background: #f9f9f9;
}
/* line 250, _base.scss */
.alert p {
  margin-bottom: 0;
  display: inline;
}
/* line 254, _base.scss */
.alert.rich-text {
  display: inline;
}

/* line 259, _base.scss */
.alert-error {
  color: red;
  border-color: red;
  background: #ffbebe;
}

/* line 265, _base.scss */
.alert-high {
  text-align: center;
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 0em;
  border-radius: 0;
  color: #fff;
  background-color: #642822;
}
/* line 273, _base.scss */
.alert-high a {
  color: #f9f9f9;
  text-decoration: underline;
}

/* line 279, _base.scss */
.alert-low, .alert-info {
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  margin-bottom: 0em;
  border: 0;
  color: #31708f;
  background-color: #d9edf7;
  border-bottom: 2px solid #31708f;
}
/* line 288, _base.scss */
.alert-low a, .alert-info a {
  color: #31708f;
  text-decoration: underline;
}

/* line 294, _base.scss */
.alert-info {
  font-size: 0.9em;
  padding: 0.5em;
  border-bottom: none;
  border-radius: 0;
}
/* line 300, _base.scss */
.alert-info .close {
  opacity: .4;
}
@media (min-width: 48em) {
  /* line 294, _base.scss */
  .alert-info {
    padding: 0.5em 3em;
  }
}

/* line 19, navigation.scss */
html,
body {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Sticky Footer, a part 1: Wrapper for page content to push down footer */
/* line 27, navigation.scss */
#body-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -10px;
}
@media (min-width: 62em) {
  /* line 27, navigation.scss */
  #body-wrap {
    margin: 0 auto -200px;
  }
}

@media (min-width: 48em) {
  /* line 37, navigation.scss */
  #push {
    height: 250px;
  }
}

/*
 * Top Right Navbar (time/account/ask)
 * --------------------------------------------------
 */
/* line 49, navigation.scss */
.mobile-topnav {
  text-align: center;
  border-bottom: 1px solid #767676;
  background-color: rgba(67, 67, 67, 0.7);
  padding: 5px 0;
}
/* line 54, navigation.scss */
.mobile-topnav a {
  color: #fff;
  padding: 0 1em;
}

/* line 60, navigation.scss */
#navbar-right {
  font-size: 1em;
  padding-right: 1.5em;
}
/* line 63, navigation.scss */
#navbar-right > li > a {
  color: #f9f9f9;
}
/* line 65, navigation.scss */
#navbar-right > li > a:hover {
  color: #E4E4E4;
  background-color: rgba(67, 67, 67, 0.95);
}
/* line 69, navigation.scss */
#navbar-right > li > a:focus {
  background-color: rgba(67, 67, 67, 0.95);
}
/* line 73, navigation.scss */
#navbar-right > li > .dropdown-menu {
  color: #fff;
  text-align: right;
  background-color: rgba(67, 67, 67, 0.95);
}
@media (min-width: 118em) {
  /* line 60, navigation.scss */
  #navbar-right {
    padding-right: 15em;
    margin-right: 30px;
  }
}

/* line 84, navigation.scss */
ul#navbar-right li:hover > ul.dropdown-menu.menuhover {
  display: block;
}

/* line 88, navigation.scss */
i.ask-icon {
  color: #767676;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
/* line 97, navigation.scss */
i.ask-icon.active {
  color: #eee;
  text-shadow: none;
  -webkit-text-stroke-width: 0;
}

/*
 * Main Navbar
 * --------------------------------------------------
 */
/* line 110, navigation.scss */
.fluid-top {
  box-shadow: 0 1px 7px #462b28;
}
@media (min-width: 48em) {
  /* line 110, navigation.scss */
  .fluid-top {
    padding: 0px;
  }
}

/* line 117, navigation.scss */
.navbar-brand {
  max-width: 175px;
  padding: 5px 15px 15px 15px;
}
@media (min-width: 48em) {
  /* line 117, navigation.scss */
  .navbar-brand {
    max-width: 225px;
    padding-left: 35px;
    padding-top: 5px;
  }
}
@media (min-width: 62em) {
  /* line 117, navigation.scss */
  .navbar-brand {
    padding-top: 10px;
  }
}

/* line 130, navigation.scss */
.navbar-default {
  border: 0px;
  margin-bottom: 0px;
  background-image: url("../images/warm_grey_reddish.jpg");
  background-repeat: repeat;
  background-color: #767676;
  z-index: 10;
  border-radius: 0;
}
/* line 139, navigation.scss */
.navbar-default .navbar-nav > li > a {
  color: #eee;
}
/* line 141, navigation.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: rgba(67, 67, 67, 0.95);
}
/* line 145, navigation.scss */
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
/* line 149, navigation.scss */
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: rgba(67, 67, 67, 0.95);
}
/* line 152, navigation.scss */
.navbar-default .navbar-nav > .open > a:focus {
  background-color: maroon;
  color: #fff;
}
/* line 156, navigation.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
  color: #E4E4E4;
  background-color: rgba(67, 67, 67, 0.95);
}
/* line 161, navigation.scss */
.navbar-default .divider {
  background-color: #767676;
}

/* line 166, navigation.scss */
#global-navbar {
  background-color: rgba(67, 67, 67, 0.4);
  font-size: 1.1em;
  padding-left: 0.5em;
}
/* line 170, navigation.scss */
#global-navbar.navbar-nav > li > a:focus {
  color: #fff;
}
/* line 173, navigation.scss */
#global-navbar.navbar-nav > .open > a:focus {
  background-color: maroon;
}
@media (min-width: 48em) {
  /* line 166, navigation.scss */
  #global-navbar {
    box-shadow: 0 1px 7px #462b28;
    margin-top: 70px;
  }
  /* line 179, navigation.scss */
  #global-navbar .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

/*
 * Navigation Drop Downs
 * --------------------------------------------------
 */
/* line 191, navigation.scss */
#navbar-right .dropdown-menu {
  border: none;
}
/* line 193, navigation.scss */
#navbar-right .dropdown-menu > li > a {
  color: #fff;
  font-size: 1.05em;
  margin-bottom: 5px;
}
/* line 197, navigation.scss */
#navbar-right .dropdown-menu > li > a:hover {
  color: #d49464;
  text-decoration: none;
  background-color: transparent;
}

@media (min-width: 75em) {
  /* line 205, navigation.scss */
  .dropdown-menu-right {
    right: auto;
    left: 0;
  }
}

/* line 212, navigation.scss */
.twocol-head {
  color: #e7d5d3;
  font-size: .8em;
  line-height: 2.4em;
  text-transform: uppercase;
}

/* line 219, navigation.scss */
.twocol-drop {
  background-color: rgba(67, 67, 67, 0.95);
}
@media (min-width: 48em) {
  /* line 219, navigation.scss */
  .twocol-drop {
    min-width: 500px;
    padding: 10px 0 10px 0;
  }
}
/* line 225, navigation.scss */
.twocol-drop > li > ul > li {
  margin-bottom: 10px;
}
/* line 227, navigation.scss */
.twocol-drop > li > ul > li a {
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
}
/* line 231, navigation.scss */
.twocol-drop > li > ul > li a:hover {
  color: #d49464;
}

/* line 238, navigation.scss */
.ul-left {
  padding-bottom: 1.5em;
}
@media (min-width: 62em) {
  /* line 238, navigation.scss */
  .ul-left {
    padding-bottom: 0px;
    border-right: 1px solid #767676;
  }
}

/*
 * Fancy Splash Image (Jumbotron)
 * --------------------------------------------------
 */
/* line 251, navigation.scss */
.jumbotron {
  max-height: 50px;
  padding-top: 0px;
  margin-bottom: 0;
  background-color: #642822;
  background-image: url("../images/banner.gif");
  background-size: cover;
}
/* line 258, navigation.scss */
.jumbotron h2 {
  color: #fff;
}
/* line 261, navigation.scss */
.jumbotron .container {
  padding: 0px;
}
@media (min-width: 48em) {
  /* line 251, navigation.scss */
  .jumbotron {
    min-height: 75px;
  }
  /* line 266, navigation.scss */
  .jumbotron .container {
    position: relative;
    margin: 0px;
  }
}

/* line 273, navigation.scss */
.overlaywrap {
  background-color: rgba(109, 50, 39, 0.8);
  color: #E7E5E2;
  left: 0;
  top: 0;
}
/* line 278, navigation.scss */
.overlaywrap h2 {
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 0;
  padding: 10px 15px;
}
/* line 283, navigation.scss */
.overlaywrap h2:hover {
  text-decoration: none;
}
/* line 287, navigation.scss */
.overlaywrap.crerar {
  background-color: rgba(21, 95, 131, 0.8);
}
/* line 290, navigation.scss */
.overlaywrap.eckhart {
  background-color: rgba(53, 14, 32, 0.8);
}
/* line 293, navigation.scss */
.overlaywrap.mansueto {
  background-color: rgba(70, 71, 51, 0.8);
}
/* line 296, navigation.scss */
.overlaywrap.reg {
  background-color: rgba(101, 105, 51, 0.8);
}
/* line 299, navigation.scss */
.overlaywrap.ssa {
  background-color: rgba(154, 83, 46, 0.8);
}
@media (min-width: 48em) {
  /* line 273, navigation.scss */
  .overlaywrap {
    position: absolute;
    padding-right: 3em;
    padding-left: 1.7em;
  }
  /* line 306, navigation.scss */
  .overlaywrap h2 {
    font-size: 1.6em;
    margin-top: 10px;
    padding: 0;
  }
}

/*
 * Off Canvas (Sidebar Mobile Toggle)
 * --------------------------------------------------
 */
@media screen and (max-width: 986px) {
  /* line 321, navigation.scss */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  /* line 328, navigation.scss */
  .row-offcanvas-right {
    right: 0;
  }
  /* line 330, navigation.scss */
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  /* line 333, navigation.scss */
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }

  /* line 338, navigation.scss */
  .row-offcanvas-left {
    left: 0;
  }
  /* line 340, navigation.scss */
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }
  /* line 343, navigation.scss */
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }

  /* line 348, navigation.scss */
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }

  /* line 354, navigation.scss */
  .toggle-side {
    padding-bottom: 5px;
  }
}
/*
 * Left Sidebar
 * --------------------------------------------------
 */
/* line 364, navigation.scss */
.sidebar {
  background-color: rgba(210, 205, 204, 0.6);
  padding: 5px 15px 40px 40px;
}
@media (min-width: 62em) {
  /* line 364, navigation.scss */
  .sidebar {
    padding-left: 2em;
    padding-top: 35px;
  }
}
/* line 371, navigation.scss */
.sidebar ul {
  list-style-type: none;
  padding-left: 1em;
  text-indent: -1em;
}
/* line 375, navigation.scss */
.sidebar ul li {
  margin-bottom: 5px;
}
/* line 379, navigation.scss */
.sidebar h3, .sidebar h3 a {
  margin-bottom: 3px;
  font-size: 1em;
  color: #642822;
}
/* line 384, navigation.scss */
.sidebar h4, .sidebar h4 a {
  font-size: 1em;
  font-weight: 600;
  color: maroon;
  line-height: 1.4em;
  margin: 18px 0 5px;
}
/* line 391, navigation.scss */
.sidebar a {
  font-size: 1em;
  color: #525252;
}
/* line 396, navigation.scss */
.sidebar.crerar h4, .sidebar.crerar h4 a {
  color: #0f425c;
}
/* line 401, navigation.scss */
.sidebar.eckhart h4, .sidebar.eckhart h4 a {
  color: #350e20;
}
/* line 406, navigation.scss */
.sidebar.mansueto h4, .sidebar.mansueto h4 a {
  color: #3e3e23;
}
/* line 411, navigation.scss */
.sidebar.reg h4, .sidebar.reg h4 a {
  color: #616530;
}
/* line 416, navigation.scss */
.sidebar.ssa h4, .sidebar.ssa h4 a {
  color: #9a5324;
}

/* line 422, navigation.scss */
.btn-sidebar {
  background: #ddd;
  color: #767676;
  position: absolute;
  padding: 10px;
  left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0;
  margin-top: -25px;
  z-index: 1000;
  background-color: rgba(210, 205, 204, 0.9);
  box-shadow: 0px 2px 7px #767676;
}
/* line 435, navigation.scss */
.btn-sidebar a {
  color: #767676;
}

/*
 * Footer
 * --------------------------------------------------
 */
/* Sticky Footer, a part 2 */
/* line 454, navigation.scss */
.footer {
  width: 100%;
  background: #767676;
  background-image: url("../images/warm_grey_reddish.jpg");
  background-repeat: repeat;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 461, navigation.scss */
.footer > hr {
  border-top: 1px solid #767676;
}
/* line 464, navigation.scss */
.footer p, .footer small {
  color: #e2ddd7;
}
/* line 467, navigation.scss */
.footer a {
  color: #eee;
  line-height: 1.7em;
  text-decoration: none;
}
/* line 471, navigation.scss */
.footer a:hover {
  color: #d49464;
}
/* line 475, navigation.scss */
.footer h5 {
  margin-bottom: 0px;
}
/* line 478, navigation.scss */
.footer .col-footer {
  border-top: 1px solid #5e5e5e;
  padding-top: 15px;
}
/* line 481, navigation.scss */
.footer .col-footer:first-child {
  border-top: none;
}
@media (min-width: 48em) {
  /* line 478, navigation.scss */
  .footer .col-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    padding-top: 0;
  }
}
@media (min-width: 48em) {
  /* line 454, navigation.scss */
  .footer {
    margin: 0;
    display: table;
    width: 100%;
  }
  /* line 494, navigation.scss */
  .footer .divider-vertical {
    height: 100%;
    border-right: 1px solid #5e5e5e;
    border-left: 1px solid #5e5e5e;
  }
}

/* line 503, navigation.scss */
.centerdiv img {
  padding-bottom: 20px;
  width: 150px;
  height: auto;
}
@media (min-width: 48em) {
  /* line 502, navigation.scss */
  .centerdiv {
    display: block;
    text-align: center;
  }
}
