/*
 * Style Notes
 * --------------------------------------------------
 *
 * Styles split into two files: collex.sccs and collex-base.scss
 * This file contains user-based variables that are placed in the head of individual web exhibits
 *
 */

 @import "variables.scss";
@import "base.scss";



/*
 * Media Queries
 * --------------------------------------------------
 *
 */

@mixin respond-to($breakpoint) {
  // Extra small devices (phones, 544px and up)
  @if $breakpoint == "xsmall" {
    @media (min-width: 34em) {
      @content;
    }
  }

  // Small devices (landscape phones, 768px and up)
  @else if $breakpoint == "small" {
    @media (min-width: 48em) {
      @content;
    }
  }
  // Medium devices (crappy laptops, tablets, 992px and up)
  @else if $breakpoint == "medium" {
    @media (min-width: 62em) {
      @content;
    }
  }
  // Large devices (desktops, 1200px and up)
  @else if $breakpoint == "large" {
    @media (min-width: 75em) {
      @content;
    }
  }

  //Extra large devices (large desktops, 1900px and up)
  @else if $breakpoint == "xlarge" {
    @media (min-width: 118em) {
      @content;
    }
  }
  
  // Short-cut to target extra small devices *only* (phones, 544px and up)
  @else if $breakpoint == "smallonly" {
    @media (max-width: 34em) {
      @content;
    }
  }
}

/*
 * Stable Variables
 * --------------------------------------------------
 *
 */

$font-large: 2.5em;
$font-medium: 1.5em;
$font-small: 1.1em;

/*
 * User Defined Variables
 * --------------------------------------------------
 *
 */

$base-color: #271847;
$display-font: "Helvetica Neue",Helvetica,Arial,sans-serif;


/*
 * Exhibit Customizations
 * --------------------------------------------------
 *
 */

.exhibitpage, .exhibitchildpage {
	h1, h2 {
		color: $base-color;
		font-family: $display-font;
		font-style: normal;
		font-size: $font-medium;
		font-weight: 400;
	}

	h3 {
		color: lighten($base-color, 10%);
		font-style: normal;
		font-size: $font-small;
		font-weight: 600;
	}

	h4 {
		color: $base-color;
		font-style: italic;
		font-size: $font-small;
		font-weight: 600;
	}

	.jumbotron {
	  min-height: 250px;
	  overflow: hidden;
	  padding-top: 0px;
	  margin-bottom: 0;
	  background-color: lighten($base-color, 30%);
	  background-image: url("../images/banner.gif"); //fallback if no image uploaded
	  background-size: cover;
	  h2 {
	    color: #fff;
	  }
	  .container {
	    padding: 0px;
	    margin: 0px;
	    position: relative;
	    width: 100%;
	  }
	  .img-wrapper {
	  	display: none;
	  	@include respond-to(small) {
	  		display: block;
	  		width: 250px;
		  	overflow: hidden;
	  	}
	  	@include respond-to(medium) {
	  		width: 250px;
		  	overflow: hidden;
	  	}
	  	img {
	  		width: 200px;
	  		height: auto;
	  		@include respond-to(medium) {
		  		width: 250px;
	  		}
	  	}
	  	&+.overlaywrap {
	  		@include respond-to(small) {
	  			left: 200px;
	  		}
	  		@include respond-to(medium) {
	  			left: 250px;
	  		}
	  	}
	  }
	}

	.jumbotron .overlaywrap {
		background-color: rgba( $base-color, .9 );
		left: 0;
		top: 0;
		font-family: $display-font;
		padding: 0.5em 2em;
		@include respond-to(small) {
				padding-right: 6em;
			}
		p {
			padding: 0;
			margin: 0;
			&:last-child {
				padding-bottom: 15px;
			}
		}
		h2 {
			font-weight: 100;
			font-size: $font-large*0.7;
			margin: 0;
			padding: 0px;
			letter-spacing: 0.03em;
			color: contrast-color($base-color, shade($base-color, 5%), tint($base-color, 90%), 80%);
			@include respond-to(small) {
				font-size: $font-large;
			}
		}
		.banner-subtitle {
			font-family: $display-font;
			color: lighten($base-color, 60%);
			font-size: $font-medium*0.8;
			padding-bottom:5px;
			@include respond-to(small) {
				font-size: $font-medium;
			}
		}
		.banner-loc, .banner-loc a, .banner-date {
			font-family: $display-font;
			color: #e0dddb;
			font-style: italic;
			font-size: $font-small*0.8;
		}
	}

	.btn.webex-next {
		margin-top: 2em;
		background: transparent;
		border-color: $base-color;
		float: right;
		a & {
		  	color: $base-color;
		}
	}

	.sidebar {
	    background-color: #fff;
	    border-right: 1px solid #ddd;
		@include respond-to(small) {	
			background-color: #fff;
			border-right: 1px dotted #767676;
		}
		h3 a {
	    	color: lighten($base-color, 20%);
		}
		> ul {
			> li { // Direct child page
				a {
					font-weight: 200;
					color: $base-color;
					&:hover {
						color: lighten($base-color, 25%);
						text-decoration: none;
					}
				}
				&.active { // Active direct child page
					background-color: lighten($base-color, 75%);
				    margin-left: -2em; // Bleed background color past div
				    margin-right: -1em; // Bleed background color past div
				    padding: 0.5em 0.5em 0.5em 2em; // Fix text padding from bleeding background color past div
				    >a {
						font-weight: 600;
					}
				}
				> ul { // Grandchild page
				    padding-left: 1.5em;
					border-left: 3px solid lighten($base-color, 75%);
					li a {
				    	font-style: italic;
				    	color: lighten($base-color, 10%);
				    }
				}
			}
		}
	}

	.coll-rightside {
		background-color: lighten($base-color, 75%);
		h3, h3 a {
			color: lighten($base-color, 10%);
			border-bottom-color: lighten($base-color, 10%);
		}
	}
} // End body.exhibitpage customizations

.collex-loc {
	background-color: #eee;
	padding: 1.5em;
	display: flex;
	flex-wrap: wrap;
	& ~ #push {
		background-color: #eee;
	}
	.loc-title {
		margin-bottom: 0.5em;
		color: $base-color;
		font-weight: 600;
		font-size: 1em;
		a {
			font-weight: 400;	
			color: lighten($base-color, 15%);
		}
	}
	p, ul {
		font-size: 0.95em;
	}
	ul {
		list-style: none;
		padding-left: 0;
		& li {
			margin-bottom: 10px;
			.viewall {
				margin-top: 15px;
			}
		}
	}
}

.collex-solo, .collex-duo, .collex-trio, .collex-verso {
	img {
	    border: 3px solid #c8c8c8;
	}
	.img-title {
		color: $base-color;
		font-size: $font-small;
		font-weight: 600;
	}
	.img-citation {
		color: lighten($base-color, 10%);
		font-size: 0.95em;
	}
	.img-caption {
		color: #000;
		font-size: 1em;
	}
}


/*
 * Digital / iiif Exhibits
 * --------------------------------------------------
 *
 */

.row.collections.search {
    margin-top: -5px;
	background: rgba(238,239,229, 0.5);
    background: -moz-linear-gradient(top,  rgba(238,239,229, 0.7) 20%, rgba(246,247,242, 0.6) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(238,239,229, 0.7) 20%,rgba(246,247,242, 0.6) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(238,239,229, 0.7) 20%,rgba(246,247,242, 0.6) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(238,239,229, 0.5)', endColorstr='rgba(246,247,242, 0.5)',GradientType=0 ); /* IE6-9 */
	border-top: 2px solid $midneutral;
	width: 95%;
    padding: 1.5em 1em 1.5em 0.15em;
	.searchbox{
		width: auto;
	}
	input {
		background-color: #fff;
		margin-left: -15px;
		border: 1px solid #ccc;
	}
	.browse {
		padding-top: 1em;
		.badge {
			color: $mid-dark;
		    background-color: transparent;
		    font-size: inherit;
		    &:first-of-type {
		    	margin-left: 1.5em;
		    }
		    &:hover, &:focus {
			    color: $active;
			    text-decoration: underline;
			}
		}
	}
}





