/*
 * News Homepage Module
 * --------------------------------------------------
 */

 .news-wrap {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;  // Safari fix
  -webkit-flex-wrap: wrap;  // Safari fix
}

.newsblock {
  padding: 0 5px;
  white-space: normal;
  h3 {
    font-style: normal;
    padding: 0.75em 0 0.25em;
  }
  p {
    clear:both;
    padding: 0 15px 0 0;
  }
}

figure.embed {
  width: 98%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0.9em;
  background: transparent;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .people {
    background: rgb(244,249,252);
    background: radial-gradient(circle, rgba(244,249,252,1) 0%, rgba(123,66,28,1) 100%);
  }
  .events {
    align-items: center;
    display: flex;
    background: rgb(244,249,252);
    background: radial-gradient(circle, rgba(244,249,252,1) 0%, rgba(102,77,89,1) 100%);
  }
  .newsblock & {
    clear:both;
  }
  img {
    object-fit: unset;
    min-width: unset;
    min-height: unset;
    height: unset;
    width: unset;
    display: block; // corrects inline gap in enclosing div
    width: auto\9; // ie8+9
    -ms-interpolation-mode: bicubic; // lt ie8
    &.cover {
      object-fit: cover;
      min-width: 100%;
      min-height: auto;
      height: 125px; // for centering the image
      width: 200px; // for centering the image
    }
    &.portrait {
      object-position: contain;
      max-height: 100%;
      max-width: auto;
      margin-left: auto;
      margin-right: auto;
    }
    &.landscape {
      object-position: contain;
      max-height: auto;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  figcaption {  //category tags on news images
    width: 100%;
    padding: 0.5em;
    background: rgba(50,50,50,0.7);
    color: #fff;
    position: absolute;
    bottom: 0px;
    &.exhibitdate {
      position: absolute !important;
      bottom: 30px;
    }
    .newsblock & {
      position: inherit;
      font-size: 1.1em;
      font-weight: 600;
    }
  }
}

.figure-wrap {
  height: 125px;
  overflow: hidden;
}