                       <!-- Collection/Exhibits Dropdown -->
                        <li class="dropdown">
                            <a href="#" data-ga-category="main-nav-links" data-ga-action="pulldown" data-ga-label="Collections &amp; Exhibits" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collections <span class="hidden-sm">&amp; Exhibits</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu twocol-drop">
                                <li>
                                    <ul class="list-unstyled col-sm-6 ul-left">
                                        <li class="twocol-head">Collections</li>
                                        <li role="separator" class="divider visible-xs"></li>
                                        <li><a href="/collex/" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Collections &amp; Exhibits &gt; Notable Collections">Notable Collections</a></li>
                                        <li><a href="/collex/?digital=on&view=collections" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Collections &amp; Exhibits &gt; Digital Collections">Digital Collections</a></li>
                                        <li><a href="/collex/?view=subjects" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Collections &amp; Exhibits &gt; Collecting Areas by Subject">Collecting Areas by Subject</a></li>
                                        <li><a href="/collex/collections/other-local-collections/" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Collections &amp; Exhibits &gt; Other Local Collections">Other Local Collections</a></li>
                                        <li><hr style="border:0; border-top: 1px solid #767676;"></li>
                                        <li class="twocol-head">Exhibits</li>
                                        <li role="separator" class="divider visible-xs"></li>
                                        <li><a href="/collex/?view=exhibits" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Collections &amp; Exhibits &gt; All Exhibits">All Exhibits</a></li>
                                        <li><a href="/collex/?digital=on&view=exhibits" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Collections &amp; Exhibits &gt; Web Exhibits">Web Exhibits</a></li>
                                    </ul>

                                    <ul class="list-unstyled col-sm-6">
                                        <li class="twocol-head">Research Centers</li>
                                        <li role="separator" class="divider visible-xs"></li>
                                        <li><a href="/about/directory/departments/eastasia/" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Collections &amp; Exhibits &gt; East Asian Collections">East Asian Collection</a></li>
                                    <li><a href="/about/directory/departments/southasia/" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Collections &amp; Exhibits &gt; Southern Asia Collection">Southern Asia Collection</a></li>

                                        <li><a href="/scrc/" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Collections &amp; Exhibits &gt; Special Collections">Special Collections</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- // Collection/Exhibits Dropdown -->

                        <!-- Spaces  Dropdown  -->
                        <li class="dropdown">
                            <a href="#" data-ga-category="main-nav-links" data-ga-action="pulldown" data-ga-label="Spaces" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Spaces <span class="hidden-sm hidden-md">&amp; Services</span><span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right onecol-drop">
                                <li class="twocol-head">Using Our Spaces</li>
                                <li role="separator" class="divider visible-xs"></li>
                                <li><a href="/research/help/infofor/information-visitors/" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Using the Library &gt; Visiting the Library">Visiting the Library</a></li>
                                <li><a href="http://rooms.lib.uchicago.edu/" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Using the Library &gt; Book a Room">Book a Room</a></li>
                                <li><a href="/spaces/" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Using the Library &gt; Places to Study">Places to Study</a></li>
                                <li><a href="/using/access-privileges/" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Using the Library &gt; Access &amp; Privileges">Access &amp; Privileges</a></li>
                                <li><a href="/research/help/offcampus" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Using the Library &gt; Off-Campus Access">Off-Campus Access</a></li>
                                <li><a href="https://printing.uchicago.edu/" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Using the Library &gt; Copy, Print &amp; Scan">Copy, Print &amp; Scan</a></li>
                                <li><a href="https://itservices.uchicago.edu/page/techbr" data-ga-category="main-nav-links" data-ga-action="click" data-ga-label="Using the Library &gt; TECHB@R">TECHB@R</a></li>
                            </ul>
                        </li>
                        <!-- // Spaces Dropdown -->