/*------------------------------------------------------------------
[Table of contents]

Search Type Tabs
Search Field Row
Other Search Row

-------------------------------------------------------------------*/
/*
 * Colors
 * --------------------------------------------------
 */
/*
 * Elements
 * --------------------------------------------------
 */
/*
 * Mixins
 * --------------------------------------------------
 */
/*------------------------------------------------------------------
[Table of contents]

Accessibility
Fonts and Headers
Media Queries
Global Elements
Alerts

-------------------------------------------------------------------*/
/*
 * Accessibility
 * --------------------------------------------------
 */
/* line 17, css/_base.scss */
#skip {
  background-color: #47B5FF;
  color: #fff;
}
/* line 20, css/_base.scss */
#skip a {
  position: absolute;
  padding: 5px 0 5px 10px;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}
/* line 29, css/_base.scss */
#skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/*
 * Fonts and Headers
 * --------------------------------------------------
 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/static/base/css/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

/* line 51, css/_base.scss */
.material-icons {
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* line 69, css/_base.scss */
h1 {
  font-size: 1.4em;
  color: #800000;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid #d6d6ce;
  margin: 0 0 0.2em 0;
}

/* line 78, css/_base.scss */
h2 {
  font-size: 1.2em;
  color: #9A5324;
  font-weight: 600;
  line-height: 1.4em;
}
/* line 83, css/_base.scss */
h2 .contentalert {
  line-height: 1.3em;
  color: #FF3399;
}
@media (min-width: 48em) {
  /* line 87, css/_base.scss */
  h2:first-child {
    margin-top: 5px;
  }
}

/* line 94, css/_base.scss */
h3 {
  font-size: 1.1em;
  color: #616530;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4em;
}

/* line 102, css/_base.scss */
h4 {
  font-weight: 400;
  font-size: 1.1em;
  color: #6d2f6a;
  line-height: 1.4em;
}
/* line 107, css/_base.scss */
.newsblock h4 {
  margin-bottom: 3px;
}

/* line 112, css/_base.scss */
h5 {
  font-size: 1em;
  font-weight: 600;
  color: #800000;
  line-height: 1.4em;
}

/* line 119, css/_base.scss */
h6 {
  font-size: 1em;
  font-weight: 600;
  color: #767676;
  margin: 15px 0 5px 0;
}

/* line 127, css/_base.scss */
p {
  margin-bottom: 1em;
  line-height: 1.5em;
}
/* line 130, css/_base.scss */
p small {
  color: #767676;
}

/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *		@include respond-to(medium) { ... }
 *		@include respond-to(large) { ... }
 */
/*
 * Global Elements
 * --------------------------------------------------
 */
/* line 193, css/_base.scss */
body {
  margin-bottom: 0;
  font-family: 'ProximaNova-Regular', "Arial", sans-serif;
}
/* line 196, css/_base.scss */
body .font-secondary {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif;
}

/* line 201, css/_base.scss */
html, body {
  overflow-x: hidden;
  /* Off Canvas: Prevent scroll on narrow devices */
}

/* line 205, css/_base.scss */
.valid {
  color: #089e00;
}

/* line 208, css/_base.scss */
.error {
  color: red;
}

/* line 211, css/_base.scss */
.warning {
  color: #fff664;
}

/* line 214, css/_base.scss */
.information {
  color: #000db5;
}

/* Links */
/* line 218, css/_base.scss */
a {
  text-decoration: none;
  outline: 0;
}
/* line 221, css/_base.scss */
a:hover, a:focus {
  color: #5B8FA8;
}
/* line 224, css/_base.scss */
a.social {
  color: #767676;
}

/* Completely remove from the flow but leave available to screen readers. */
/* line 230, css/_base.scss */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Alerts
 * --------------------------------------------------
 */
/* line 244, css/_base.scss */
.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background: #f9f9f9;
}
/* line 250, css/_base.scss */
.alert p {
  margin-bottom: 0;
  display: inline;
}
/* line 254, css/_base.scss */
.alert.rich-text {
  display: inline;
}

/* line 259, css/_base.scss */
.alert-error {
  color: red;
  border-color: red;
  background: #ffbebe;
}

/* line 265, css/_base.scss */
.alert-high {
  text-align: center;
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 0em;
  border-radius: 0;
  color: #fff;
  background-color: #642822;
}
/* line 273, css/_base.scss */
.alert-high a {
  color: #f9f9f9;
  text-decoration: underline;
}

/* line 279, css/_base.scss */
.alert-low, .alert-info {
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  margin-bottom: 0em;
  border: 0;
  color: #31708f;
  background-color: #d9edf7;
  border-bottom: 2px solid #31708f;
}
/* line 288, css/_base.scss */
.alert-low a, .alert-info a {
  color: #31708f;
  text-decoration: underline;
}

/* line 294, css/_base.scss */
.alert-info {
  font-size: 0.9em;
  padding: 0.5em;
  border-bottom: none;
  border-radius: 0;
}
/* line 300, css/_base.scss */
.alert-info .close {
  opacity: .4;
}
@media (min-width: 48em) {
  /* line 294, css/_base.scss */
  .alert-info {
    padding: 0.5em 3em;
  }
}

/*
 * Search Type Tabs
 * --------------------------------------------------
 */
/* line 18, css/uclib-search.scss */
h1.searchbox-header {
  font-size: 1.1em;
  color: #5e5e5e;
  margin: 10px 0 10px 5px;
  font-weight: 600;
  border: none;
}

/* line 27, css/uclib-search.scss */
.main-search .transformer-tabs {
  background-color: #fff;
}
/* line 30, css/uclib-search.scss */
.transformer-tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #D6D6CE;
}
@media (max-width: 34em) {
  /* line 30, css/uclib-search.scss */
  .transformer-tabs ul {
    color: #fff;
    display: flex;
  }
}
/* line 40, css/uclib-search.scss */
.transformer-tabs li {
  display: inline-block;
  padding: 0;
  vertical-align: bottom;
}
/* line 44, css/uclib-search.scss */
.transformer-tabs li a.active {
  color: #b0463c;
  border-bottom-color: #642822;
}
@media (max-width: 34em) {
  /* line 44, css/uclib-search.scss */
  .transformer-tabs li a.active {
    color: #642822;
    display: flex;
    padding-top: 0;
  }
}
/* line 54, css/uclib-search.scss */
.transformer-tabs a {
  display: inline-block;
  color: #525252;
  text-decoration: none;
  padding: 0.3em 1.5em;
}
/* line 59, css/uclib-search.scss */
.transformer-tabs a.active {
  border-bottom: 3px solid transparent;
  position: relative;
  bottom: -3px;
}
/* line 64, css/uclib-search.scss */
.transformer-tabs a:hover {
  color: #C16622;
  border-bottom: 3px solid #C16622;
  position: relative;
  bottom: -3px;
}

/* line 74, css/uclib-search.scss */
.tabs > div {
  display: none;
  padding: 1em;
}
/* line 78, css/uclib-search.scss */
.tabs.main-search {
  background-color: rgba(210, 205, 204, 0.5);
  margin-bottom: 10px;
}
/* line 83, css/uclib-search.scss */
.tabs > .active {
  display: block;
}

/* line 88, css/uclib-search.scss */
.searchbody {
  background-color: transparent;
  padding: 15px 40px 20px 30px;
  border-top: 4px solid #642822;
}
@media (min-width: 48em) {
  /* line 88, css/uclib-search.scss */
  .searchbody {
    border-top: none;
  }
}

/*
 * Search Field Row
 * --------------------------------------------------
 */
@media (min-width: 62em) {
  /* line 102, css/uclib-search.scss */
  .search-btn-wrapper {
    padding-right: 0;
  }
}

@media (min-width: 48em) {
  /* line 108, css/uclib-search.scss */
  .btn-searchtype {
    min-width: 100px;
  }
}
/* line 112, css/uclib-search.scss */
.btn-searchtype > button {
  color: #fff;
  line-height: 1.2em;
  padding: 8px 25px 8px 10px;
}
/* line 117, css/uclib-search.scss */
.btn-searchtype > .btn-default {
  margin-bottom: 0;
}

/* line 122, css/uclib-search.scss */
.btn-searchtype > .dropdown-menu {
  background-color: #B1746F;
  color: #000;
  margin-top: -1px;
  border: none;
  border-top-left-radius: 0;
}
/* line 128, css/uclib-search.scss */
.btn-searchtype > .dropdown-menu > ul {
  background-color: transparent;
}
/* line 130, css/uclib-search.scss */
.btn-searchtype > .dropdown-menu > ul > li > a:hover, .btn-searchtype > .dropdown-menu > ul > li > a:focus {
  color: #800000;
  background-color: rgba(210, 205, 204, 0.95);
  text-decoration: none;
}

/* line 138, css/uclib-search.scss */
.btn-search {
  background-color: #642822;
  color: #fff;
  width: 100%;
  font-size: 1.1em;
  padding: 10px;
  line-height: 0.45em;
  margin-top: 0;
}
@media (min-width: 62em) {
  /* line 138, css/uclib-search.scss */
  .btn-search {
    padding: 15px;
  }
}

/* line 151, css/uclib-search.scss */
.btn-search:hover, .btn-search:focus, .btn-search:active, .btn-searchtype > button:hover, .btn-searchtype > button:focus, .btn-searchtype > button:active, .btn-searchtype > button.btn.dropdown-toggle.btn-default {
  color: #000;
  background-color: #B1746F;
}

/* line 156, css/uclib-search.scss */
.dropdown-menu-right {
  margin: 0px;
  border: 0px;
  background-color: #F2F2F2;
}

/* line 162, css/uclib-search.scss */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  overflow: initial;
}

/*
 * Other Search Row
 * --------------------------------------------------
 */
/* line 171, css/uclib-search.scss */
.eoptions, .advanced {
  padding: 0 0 0 5px;
  font-size: 0.9em;
  margin-bottom: 0;
}
/* line 175, css/uclib-search.scss */
.eoptions p, .advanced p {
  margin-bottom: 0;
}
@media (max-width: 34em) {
  /* line 171, css/uclib-search.scss */
  .eoptions, .advanced {
    padding: 5px 0 0 5px;
  }
}

/* line 183, css/uclib-search.scss */
.advanced {
  text-decoration: underline;
}
@media (min-width: 48em) {
  /* line 183, css/uclib-search.scss */
  .advanced {
    text-align: right;
  }
}

/* line 191, css/uclib-search.scss */
.searchoptions {
  color: #525252;
  padding: 10px 0 0 5px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 0.9em;
  font-style: italic;
}
/* line 198, css/uclib-search.scss */
.searchoptions p {
  margin-bottom: 0;
}
