@import url(http://www.netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css);
/* line 22, _variables.scss */
img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*
 * Accessibility
 * --------------------------------------------------
 */
/* line 6, _base.scss */
#skip {
  background-color: #47B5FF;
  color: #fff;
}
/* line 9, _base.scss */
#skip a {
  position: absolute;
  padding: 5px 0 5px 10px;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}
/* line 18, _base.scss */
#skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/*
 * Fonts and Headers
 * --------------------------------------------------
 */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded- opentype"), url("Content/fonts/glyphicons-halflings-regular.woff") format("woff"), url("Content/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("Content/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

/* line 40, _base.scss */
h1 {
  font-size: 1.4em;
  color: #800000;
  font-weight: 300;
}

/* line 46, _base.scss */
h2 {
  font-size: 1.2em;
  color: #C16622;
  font-weight: 600;
}
/* line 50, _base.scss */
h2 .contentalert {
  line-height: 1.3em;
  color: #FF3399;
}

/* line 56, _base.scss */
h3 {
  font-size: 1.1em;
  color: #616530;
  font-weight: 600;
  font-style: italic;
}

/* line 63, _base.scss */
h4 {
  font-weight: 400;
  font-size: 1.1em;
  color: #6d2f6a;
}
/* line 68, _base.scss */
.newsblock h4 {
  margin-bottom: 3px;
  line-height: 1.4em;
}

/* line 74, _base.scss */
h5 {
  font-size: 1em;
  font-weight: 600;
  color: #800000;
}

/* line 80, _base.scss */
h6 {
  font-size: 1em;
  font-weight: 600;
  color: #767676;
  margin: 15px 0 5px 0;
}

/* line 88, _base.scss */
p {
  margin-bottom: 1em;
  line-height: 1.5em;
}
/* line 91, _base.scss */
p small {
  color: #767676;
}

/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *		@include respond-to(medium) { ... }
 *		@include respond-to(large) { ... }
 */
/*
 * Global Elements
 * --------------------------------------------------
 */
/* line 154, _base.scss */
body {
  margin-bottom: 0;
  font-family: 'ProximaNova-Regular', "Arial", sans-serif;
}
/* line 157, _base.scss */
body .font-secondary {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif;
}

/* line 162, _base.scss */
html, body {
  overflow-x: hidden;
  /* Off Canvas: Prevent scroll on narrow devices */
}

/* line 166, _base.scss */
.alert-high {
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  margin-bottom: 0em;
  border: 0;
  color: #a94442;
  background-color: #f2dede;
  border-bottom: 2px solid #a94442;
}
/* line 175, _base.scss */
.alert-high a {
  color: #a94442;
  text-decoration: underline;
}

/* line 181, _base.scss */
.alert-low {
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  margin-bottom: 0em;
  border: 0;
  color: #31708f;
  background-color: #d9edf7;
  border-bottom: 2px solid #31708f;
}
/* line 190, _base.scss */
.alert-low a {
  color: #31708f;
  text-decoration: underline;
}

/* line 196, _base.scss */
.valid {
  color: #089e00;
}

/* line 199, _base.scss */
.error {
  color: red;
}

/* line 202, _base.scss */
.warning {
  color: #fff664;
}

/* line 205, _base.scss */
.information {
  color: #000db5;
}

/* Links */
/* line 209, _base.scss */
a {
  text-decoration: none;
  outline: 0;
}
/* line 212, _base.scss */
a:hover, a:focus {
  color: #5B8FA8;
}
/* line 215, _base.scss */
a.social {
  color: #767676;
}

/* Completely remove from the flow but leave available to screen readers. */
/* line 221, _base.scss */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Alerts
 * --------------------------------------------------
 */
/* line 235, _base.scss */
.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background: #f9f9f9;
}

/* line 243, _base.scss */
.alert-error {
  color: red;
  border-color: red;
  background: #ffbebe;
}

/* line 5, uclib-search.scss */
.faq div {
  display: none;
}

/* line 9, uclib-search.scss */
.faq div:target {
  display: block;
}

/* line 13, uclib-search.scss */
.equal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}

/* line 25, uclib-search.scss */
.law-search .transformer-tabs {
  background-color: #fff;
}
/* line 28, uclib-search.scss */
.transformer-tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #D6D6CE;
}
/* line 34, uclib-search.scss */
.transformer-tabs li {
  display: inline-block;
  padding: 0;
  vertical-align: bottom;
}
/* line 38, uclib-search.scss */
.transformer-tabs li a.active {
  color: #b0463c;
  border-bottom-color: #642822;
}
@media (max-width: 34em) {
  /* line 38, uclib-search.scss */
  .transformer-tabs li a.active {
    color: #fff;
    background-color: #642822;
  }
}
/* line 47, uclib-search.scss */
.transformer-tabs a {
  display: inline-block;
  color: #525252;
  text-decoration: none;
  padding: 0.5rem;
}
/* line 52, uclib-search.scss */
.transformer-tabs a.active {
  border-bottom: 3px solid transparent;
  position: relative;
  bottom: -3px;
}
/* line 57, uclib-search.scss */
.transformer-tabs a:hover {
  color: #C16622;
  border-bottom: 3px solid #C16622;
  position: relative;
  bottom: -3px;
}
@media (max-width: 34em) {
  /* line 66, uclib-search.scss */
  .transformer-tabs ul {
    border-bottom: 0;
    overflow: hidden;
    position: relative;
    color: #fff;
    background: #767676;
    /* fallback */
  }
  /* line 73, uclib-search.scss */
  .transformer-tabs ul::after {
    content: "☰";
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 2;
    pointer-events: none;
  }
  /* line 82, uclib-search.scss */
  .transformer-tabs ul.open a {
    color: #eee;
    position: relative;
    display: block;
  }
  /* line 89, uclib-search.scss */
  .transformer-tabs li {
    display: block;
  }
  /* line 92, uclib-search.scss */
  .transformer-tabs a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* line 98, uclib-search.scss */
  .transformer-tabs a.active {
    border: 0;
    z-index: 1;
  }
}

/* line 109, uclib-search.scss */
.tabs > div {
  display: none;
  padding: 1em;
}
/* line 113, uclib-search.scss */
.tabs.main-home {
  background-color: rgba(255, 255, 255, 0.95);
  margin-bottom: 15px;
  box-shadow: 1px 5px 10px #321411;
}
/* line 118, uclib-search.scss */
.tabs.law-search {
  background-color: rgba(210, 205, 204, 0.5);
  margin-bottom: 20px;
}
/* line 123, uclib-search.scss */
.tabs > .active {
  display: block;
}

/* line 128, uclib-search.scss */
.searchbox {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 1em 2em!important;
  position: relative;
  background: url(../images/search-box4.jpg) top center no-repeat;
  z-index: 100;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 48em) {
  /* line 128, uclib-search.scss */
  .searchbox {
    margin-bottom: 20px;
  }
}
@media (min-width: 62em) {
  /* line 128, uclib-search.scss */
  .searchbox {
    padding: 0 2em 2em!important;
  }
}

/*
 * Content
 * --------------------------------------------------
 */
/* line 170, uclib-search.scss */
.searchbody {
  background-color: transparent;
  padding: 15px 40px 20px 30px;
  border-top: 4px solid #642822;
}
@media (min-width: 48em) {
  /* line 170, uclib-search.scss */
  .searchbody {
    border-top: none;
  }
}

/*
 * Search Mode Dropdown
 * --------------------------------------------------
 */
/* line 185, uclib-search.scss */
.btn-boxmode {
  width: 100%;
  background-color: #642822;
  color: #fff;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  padding: 7px 14px;
}
/* line 193, uclib-search.scss */
.btn-boxmode:hover, .btn-boxmode:focus {
  background: #B1746F;
  color: #000;
}

/* line 199, uclib-search.scss */
input-group-btn {
  width: 50%;
}

/* line 203, uclib-search.scss */
.boxmode-desc {
  font-style: italic;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0px;
  vertical-align: text-bottom;
}

/* line 211, uclib-search.scss */
.boxmode-desc-wrapper {
  padding-top: 10px;
}

/* line 215, uclib-search.scss */
.caret {
  border-top: 6px dashed;
  border-top: 6px solid\9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

/* line 222, uclib-search.scss */
.dropdown-searchtop {
  margin: 0px;
  background-color: #F2F2F2;
  border: 0px;
  border-radius: 0px;
}

/* line 230, uclib-search.scss */
#searchtop {
  color: #767676;
  font-size: 1em;
  font-weight: 400;
  line-height: 5px;
}
/* line 235, uclib-search.scss */
#searchtop a {
  color: #800000;
  font-size: 1.2em;
  font-weight: 700;
  padding-left: 30px;
}

/* line 243, uclib-search.scss */
.searchtop-sub {
  padding: 0 30px;
}

/* line 247, uclib-search.scss */
.searchtitle {
  margin-top: 7px;
  margin-bottom: 20px;
  font-size: 1.4em;
}

/* line 253, uclib-search.scss */
.eoptions, .advanced {
  padding: 10px 0 0 5px;
  font-size: 14px;
  margin-bottom: 0;
}
/* line 257, uclib-search.scss */
.eoptions p, .advanced p {
  margin-bottom: 0;
}
@media (max-width: 34em) {
  /* line 253, uclib-search.scss */
  .eoptions, .advanced {
    padding: 10px 0 0 15px;
  }
}

/* line 265, uclib-search.scss */
.advanced {
  text-decoration: underline;
}
@media (min-width: 48em) {
  /* line 265, uclib-search.scss */
  .advanced {
    text-align: right;
  }
}

/* line 274, uclib-search.scss */
.searchmodule {
  background-color: #cbc2c1;
  background: linear-gradient(45deg, #cbc2c1 0%, #e2ddd7 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #cbc2c1), color-stop(100%, #e2ddd7));
  background: -webkit-linear-gradient(45deg, #cbc2c1 0, #e2ddd7 100%);
  padding: 0;
  margin-bottom: 30px;
}

@media (min-width: 62em) {
  /* line 283, uclib-search.scss */
  .search-btn-wrapper {
    padding: 0;
  }
}

/* line 289, uclib-search.scss */
.artmodule {
  border-right: 3px solid #767676;
  border-left: 3px solid #767676;
  padding: 0 20px 50px 20px;
}
@media (min-width: 768px) {
  /* line 289, uclib-search.scss */
  .artmodule {
    padding: 0px 20px 15px 20px;
  }
}

/*
 * Search Field Row
 * --------------------------------------------------
 */
/* line 303, uclib-search.scss */
.form-control {
  padding: 18px 12px;
}

/* line 307, uclib-search.scss */
.btn-searchtype {
  color: #fff;
  padding: 15px;
  line-height: 0.45em;
}

/* line 314, uclib-search.scss */
.btn-search {
  background-color: #642822;
  color: #fff;
  width: 100%;
  font-size: 1.1em;
  padding: 10px;
  line-height: 0.45em;
  margin-top: 0;
}
@media (min-width: 62em) {
  /* line 314, uclib-search.scss */
  .btn-search {
    padding: 15px;
  }
}

/* line 327, uclib-search.scss */
.btn-search:hover, .btn-search:focus, .btn-search:active, .btn-searchtype:hover, .btn-searchtype:focus, .btn-searchtype:active {
  color: #000;
  background-color: #B1746F;
}

/* line 332, uclib-search.scss */
.dropdown-menu-right {
  margin: 0px;
  border: 0px;
  background-color: #F2F2F2;
}

/* line 337, uclib-search.scss */
.s-hr {
  color: #767676;
  background-color: #767676;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 0px;
}

/* line 345, uclib-search.scss */
.artoptions {
  border-right: 1px dotted #767676;
  padding-right: 0px;
}

/* line 350, uclib-search.scss */
.list-group {
  margin: 0;
  padding: 0;
}
@media (min-width: 48em) {
  /* line 350, uclib-search.scss */
  .list-group {
    text-align: right;
  }
}

/* line 361, uclib-search.scss */
.list-group-item {
  padding: 15px 10px 10px 10px;
  font-size: 1em;
  background-color: #eee;
  color: #878181;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #cbc2c1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (min-width: 48em) {
  /* line 361, uclib-search.scss */
  .list-group-item {
    background-color: #e2ddd7;
  }
}
/* line 373, uclib-search.scss */
.list-group-item:first-child, .list-group-item:last-child {
  border-bottom: none;
}
/* line 376, uclib-search.scss */
.list-group-item.active {
  color: #767676;
  background-color: transparent;
  font-weight: 600;
  border-left: none;
  border-color: transparent;
  border-bottom: 4px solid #642822;
}
@media (min-width: 48em) {
  /* line 376, uclib-search.scss */
  .list-group-item.active {
    border-bottom: 2px solid #b4acac;
    border-left: 4px solid #642822;
  }
}

/* line 391, uclib-search.scss */
a.list-group-item {
  color: #878181;
}
/* line 393, uclib-search.scss */
a.list-group-item:hover {
  background-color: #7b4943;
  color: #fff;
}
/* line 397, uclib-search.scss */
a.list-group-item.active {
  color: #642822;
  font-size: 1.2em;
}

/* line 403, uclib-search.scss */
.filter-row {
  padding: 20px 0 5px 5px;
}

/*
 * Other Search Row
 * --------------------------------------------------
 */
/* line 412, uclib-search.scss */
.searchoptions {
  color: #525252;
  padding: 10px 0 0 5px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 0.9em;
  font-style: italic;
}
/* line 419, uclib-search.scss */
.searchoptions p {
  margin-bottom: 0;
}

/* line 424, uclib-search.scss */
.searchother {
  width: 100%;
  border-top: 1px dotted #eee;
  padding: 5px 20px 10px 20px;
}
@media (min-width: 768px) {
  /* line 424, uclib-search.scss */
  .searchother {
    padding: 15px 20px 10px 20px;
  }
}
/* line 433, uclib-search.scss */
.searchother h3 {
  margin-bottom: 5px;
}

/* line 438, uclib-search.scss */
.othercatswrap {
  border-top: 1px dotted #8A8B79;
}

/* line 442, uclib-search.scss */
.othercats {
  font-weight: 400;
  padding: 10px;
}
/* line 445, uclib-search.scss */
.othercats a {
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  color: #7b4943;
}
/* line 450, uclib-search.scss */
.othercats a:hover {
  color: #5B8FA8;
  text-decoration: underline;
}

/*
 * Explore Module
 * --------------------------------------------------
 */
/* line 466, uclib-search.scss */
.exploreheader {
  color: #fff;
  margin-bottom: 2px;
  margin-top: 5px;
}

/* line 472, uclib-search.scss */
.exploresubhead {
  color: #767676;
  margin-bottom: 7px;
  padding-top: 15px;
}

/* line 478, uclib-search.scss */
label.artmod {
  font-size: 1.1em;
  font-weight: 700;
}

/* line 483, uclib-search.scss */
.featured-tagbox {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.25em;
}

@media (min-width: 768px) {
  /* line 489, uclib-search.scss */
  .midal {
    display: flex;
    align-items: center;
  }
}
